<h1 class="titulo" style="color:#2f86e2">Secretaria</h1>
<ol class="breadcrumb mb-4" style="background-color:#b2d0f7">
  <li class="breadcrumb-item active" style="color:#6e6e6e">Arquivos úteis</li>
</ol>

<div class="container-secretaria">    
  <div class="grid-cards">
    <mat-card class="documento-card" *ngFor="let item of documentos">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>{{ item.icone }}</mat-icon>
        </div>
        <mat-card-title>{{ item.titulo }}</mat-card-title>
        <mat-card-subtitle>Documento PDF</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{ item.descricao }}</p>
      </mat-card-content>

      <mat-card-actions >
        <button mat-raised-button color="primary" (click)="baixar(item.id)">
          <mat-icon>download</mat-icon> GERAR
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>