#layoutSidenav_content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FCFCFC; /* fundo branco suave */
  }
  
  main {
    flex: 1;
    padding-bottom: 60px; 
  }   
   
  footer {
    position: fixed;
    bottom: 0;
    left: 215px;
    width: calc(100% - 220px);    
    z-index: 100;
    height: 15px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;   
  }
  
  footer.py-4 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 43px !important; 
    background-color: #edf2fa!important; 
  }
  
  footer .text-muted,
  footer .whats-link span {
    color: #6c757d !important;
    font-size: 13px;
  }
  