<div class="container">
  <h1 class="mt-2" style="color: #2f86e2">Histórico</h1>
  <ol class="breadcrumb mb-4" style="background-color:#b2d0f7">
    <li class="breadcrumb-item active">Gerenciar Cadastro</li>
  </ol>

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="aler" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
      </div>
      <div class="alert alert-danger" role="aler" *ngIf="mensagemErro">
        {{ mensagemErro }}
      </div>
    </div>
  </div>
  <div>
    <strong>Nome: </strong> <span>{{ pessoa?.nome }}</span>
  </div>
  <div>
    <strong>E-mail: </strong> <span>{{ pessoa?.email }}</span>
  </div>
  <div>
    <strong>Telefone: </strong> <span>{{ pessoa?.fone }}</span>
  </div>
  <div>
    <strong>Data de Nascimento: </strong> <span>{{ pessoa?.dataNascimento }}</span>
  </div>
  <div>
    <strong>Endereço: </strong>
    <span>
      {{ pessoa?.logradouro }}, {{ pessoa?.bairro }} -
      {{ pessoa?.localidade }}/{{ pessoa?.uf }} -
      CEP: {{ pessoa?.cep }}
    </span>
  </div>
  <div>
    <strong>Data em que se tornou membro: </strong> <span>{{ pessoa?.dataInicioMembresia }}</span>
  </div>
  <div>
    <strong>Data de cadastro: </strong> <span>{{ pessoa?.dataCadastro }}</span>
  </div>
  <h2 class="mt-4" style="color: #2f86e2">Familiares</h2>
  <div class="mb-3 d-flex align-items-center">
    <select class="form-control w-auto" [(ngModel)]="idFamiliar">
      <option [ngValue]="undefined" disabled selected>Selecione o familiar</option>
      <option *ngFor="let p of pessoasDisponiveis" [ngValue]="p.id">
        {{ p.nome }}
      </option>
    </select>
    <select class="form-control w-auto" [(ngModel)]="tipoParentesco">
      <option [ngValue]="''" disabled selected>Selecione o parentesco</option>
      <option value="Pai">Pai</option>
      <option value="Mãe">Mãe</option>
      <option value="Filho(a)">Filho(a)</option>
      <option value="Irmão(a)">Irmão(a)</option>
      <option value="Avô(a)">Avô(a)</option>
      <option value="Tio(a)">Tio(a)</option>
      <option value="Primo(a)">Primo(a)</option>
      <option value="Cunhado(a)">Cunhado(a)</option>
      <option value="Genro">Genro</option>
      <option value="Nora">Nora</option>
    </select>
    <button class="btn ml-2" [ngClass]="{
    'btn-success': authService.hasRole('admin', 'gestor'),
    'btn-secondary': !authService.hasRole('admin', 'gestor')
  }" [disabled]="!authService.hasRole('admin', 'gestor')" [attr.title]="
    authService.hasRole('admin', 'gestor')
      ? 'Adicionar relacionamento'
      : 'Apenas administradores ou gestores podem adicionar'
  " (click)="authService.hasRole('admin', 'gestor') && adicionarRelacionamento()">
      <i class="fa" [ngClass]="{
      'fa-plus': authService.hasRole('admin', 'gestor'),
      'fa-lock': !authService.hasRole('admin', 'gestor')
    }"></i>
      Adicionar Relacionamento
    </button>

  </div>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
        <tr style="color: #555454">
          <th>Nome do Familiar</th>
          <th>Grau de Parentesco</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of relacionamentos">
          <td>{{ r.nomeFamiliar }}</td>
          <td>{{ r.tipo }}</td>
        </tr>
        <tr *ngIf="!relacionamentos || relacionamentos.length === 0">
          <td colspan="2">Nenhum relacionamento encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row-buttons">
    <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
      <i class="fa fa-arrow-alt-circle-left"></i> Voltar
    </button>
  </div>
</div>