.btn-custom-blue {
    background-color: #28d7fa; 
    color: #fff; 
  }
  
  .btn-custom-blue:hover {
    background-color: #0bb3d4; 
    color: #fff; 
  } 

tbody tr.nao-membro {  
  background-color: rgba(178, 208, 247, 0.25); /* #b2d0f7 @25% */

}

.table-hover tbody tr.nao-membro:hover {
  background-color: rgba(178, 208, 247, 0.45);
}

/* ====== Tabelas responsivas ====== */
.table-responsive {
  width: 100%;
  overflow-x: auto;        /* permite rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* rolagem suave em mobile */
  white-space: nowrap;     /* evita quebra de linhas */
}

.table thead th,
.table tbody td {
 padding: 0.3rem 0.5rem;
line-height: 1.1;
  font-size: 0.9rem;     
}

.search-input {
  width: 250px;
  height: 30px;
  margin-left: 11px !important;
}

.btn-table {
  padding: 0.25rem 0.45rem;   
  font-size: 0.85rem;
  line-height: 1;
}

.btn-table i {
  font-size: 0.9rem;
}

.btn-action {
  padding: 0.3rem 0.6rem;   
  font-size: 0.9rem;
  line-height: 1.2;
}

.btn-action i {
  font-size: 0.9rem;
}

/* Em telas menores, diminui um pouco o padding */
@media (max-width: 768px) {
  .table thead th,
  .table tbody td {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
  
  .row-buttons .btn {
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
  }
  .action-bar {
    flex-wrap: wrap;    
    gap: 8px;
  }

  .action-bar .btn {
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    line-height: 1.2;
  }

  .action-bar .btn i {
    font-size: 0.85rem;
  }

  .action-bar .search-input {
    width: 240px  !important;
    height: 32px;        
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    margin-left: 0 !important;
  }
    
  .action-bar .ml-2,
  .action-bar .ml-3 {
    margin-left: 0.5rem !important;
  }
}
   
 @media (max-width: 420px) {
  .action-bar .search-input {
    width: 150px;
  }
  .action-bar .btn {
    font-size: 0.8rem;
    padding: 0.22rem 0.45rem;
  }
}
