<h1 class="mt-2" style="color:#2f86e2">Cadastros</h1>
<ol class="breadcrumb mb-4" style="background-color:#b2d0f7">
  <li class="breadcrumb-item active" style="color:#6e6e6e">Lista Completa</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="aler" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
      </div>
      <div class="alert alert-danger" role="aler" *ngIf="mensagemErro">
        {{ mensagemErro }}
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 d-flex align-items-center action-bar">

      <button class="btn btn-action" [ngClass]="{
                'btn-success': authService.hasRole('admin', 'gestor'),
                'btn-secondary': !authService.hasRole('admin', 'gestor')
            }" [disabled]="!authService.hasRole('admin', 'gestor')" routerLink="/pessoa/form">
        <i class="fa" [ngClass]="{
                   'fa-plus': authService.hasRole('admin', 'gestor'),
                   'fa-lock': !authService.hasRole('admin', 'gestor')
               }"></i>
        Novo Cadastro
      </button>

      <button *ngIf="pessoas && pessoas.length > 0" class="btn btn-primary btn-action ml-2" (click)="abrirModal()">
        <i class="fa fa-file-pdf"></i> Gerar Relatório
      </button>
      <input type="text" class="form-control search-input"  placeholder="Buscar por nome"
        [(ngModel)]="nomeBusca" (keyup)="buscarPorNome()" />

    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-condensed table-hover">
          <thead>
            <tr style="color:#555454">
              <th>Nome</th>
              <th>Telefone</th>
              <th>Membro</th>
              <th>Data Nascimento</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pessoa of pessoas" [ngClass]="{ 'nao-membro': !pessoa.membro }">
              <td>{{ pessoa.nome }}</td>
              <td>{{ pessoa.fone }}</td>
              <td>{{ pessoa.membro ? 'Sim' : 'Não' }}</td>
              <td>{{ pessoa.dataNascimento }}</td>
              <td>
                <button class="btn btn-primary btn-table" [routerLink]="['/pessoa/form', pessoa.id]">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-table ml-2" 
                 data-toggle="modal"
                 data-target="#modalDelecao"
                (click)="exibirModalDelet(pessoa)">
                  <i class="fa fa-trash"></i>
                </button>
                
                <button class="btn btn-custom-blue btn-table ml-2" (click)="carregarHistorico(pessoa.id)" title="Histórico">
                  <i class="fa fa-file-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>
        <div class="modal-body" *ngIf="pessoaSelecionada">
          Tem certeza que deseja excluir o cadastro {{ pessoaSelecionada.nome }} ?
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletarCadastro()" data-dismiss="modal">Sim</button>
          <button class="btn btn-danger" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-relatorio-modal (gerar)="gerarRelatorio($event)"></app-relatorio-modal>