<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading" style="color: #2f86e2;">Sistema</div>
                <a class="nav-link" routerLink="/home" style="color: #6e6e6e;">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt" style="color: #2f86e2;"></i>
                    </div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading" style="color: #2f86e2;">Cadastro</div>
                <a class="nav-link collapsed" routerLink="/pessoa/lista" data-toggle="collapse"
                    data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    style="color: #6e6e6e;">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns" style="color: #2f86e2;"></i></div>
                    Membros
                </a>
                <div class="sb-sidenav-menu-heading" style="color: #2f86e2;">Usuários</div>
                <a *ngIf="authService.hasRole('admin')" class="nav-link collapsed" routerLink="/usuario/form"
                    style="color: #6e6e6e;">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-user-plus" style="color: #2f86e2;"></i>
                    </div>
                    Cadastrar Usuário
                </a>
                <a *ngIf="authService.hasRole('admin', 'gestor')"class="nav-link collapsed" routerLink="/usuario/list" style="color: #6e6e6e;">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-users-cog" style="color: #2f86e2;"></i>
                    </div>
                    Gerenciar Acesso
                </a>
                <a class="nav-link collapsed" routerLink="/usuario/update" style="color: #6e6e6e;">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-key" style="color: #2f86e2;"></i>
                    </div>
                    Alterar Senha
                </a>
                <div class="sb-sidenav-menu-heading" style="color: #2f86e2;">Logout</div>
                <a class="nav-link collapsed" (click)="logout();" href="#" data-toggle="collapse"
                    data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    style="color: #6e6e6e;">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt" style="color: #2f86e2;"></i></div>
                    Sair
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <a class="nav-link footer-link">
              <div class="sb-nav-link-icon">
                <i class="fas fa-tag"></i>
              </div>
              <span>{{ appName }} v{{ appVersion }}</span>
            </a>
          </div>          
    </nav>
</div>