.sb-topnav {    
    background-color:#6caafc;
}

.navbar-brand span {
    color: #2f86e2;
}

.sb-topnav.navbar {
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;   
  padding-right: .5rem;
}
 
.navbar-brand .brand-logo {
  height: 50px !important;  
  width: auto !important;
  display: block;          
}
  
.navbar-brand .brand-text {
  font-size: 1.70rem;   
  line-height: 1;           
  color: #fff;              
}  

#sidebarToggle.btn-link {
  padding: 0;               
  line-height: 1;
}
#sidebarToggle i {
  font-size: 1.1rem;       
  color: #fff;
}

.sb-sidenav {    
  background-color:#b2d0f7;
}

.sb-sidenav-credencial {
  background-color:  #6caafc;
  color:  #0051B4;    
  font-size: 15px;
  margin-left: auto;   
  text-align: right;   
  display: flex;       
  align-items: center; 
  gap: 20px;   
  padding-right: 15px;
}

.sb-sidenav-credencial .small {
  font-size: 16px;
  font-weight: bold;
}

.sb-sidenav-foocredencialter .small span {
  font-size: 14px;
  font-weight: normal;
}

.credenciais {
color: #555454;
font-weight: normal;
}
  
.brand-text {
  font-size: 1.7rem;
  font-weight: 700 !important;
  color: #0051B4;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  ::ng-deep .sb-sidenav-credencial {
    position: absolute !important;
    right: 10px !important;
    top: 12px !important;
    font-size: 20px !important;
    gap: 6px !important;
    padding-right: 5px !important;
  }

  ::ng-deep .sb-sidenav-credencial .small {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  ::ng-deep .brand-text {
    font-size: 1.4rem !important;
  }

  ::ng-deep #sidebarToggle {
    margin-left: 50px !important;
  }
}

@media (max-width: 992px) {
  .sb-topnav {
    position: relative;
  }

  .sb-sidenav-credencial {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    font-size: 20px !important;
    text-align: right !important;
    gap: 4px !important;
    padding-right: 8px !important;
    z-index: 99;
    background-color: #6caafc !important;
  }

  .sb-sidenav-credencial .small {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .brand-text {
    font-size: 1.4rem !important;
  }

  #sidebarToggle {
    margin-left: 50px !important;
  }
}



