<h1 class="mt-2" style="color:#2f86e2">Membro</h1>
<ol class="breadcrumb mb-4" style="background-color:#b2d0f7">
    <li class="breadcrumb-item active">{{ pessoa.id ? 'Edição' : 'Cadastro' }}</li>
</ol>

<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucesso == true">
                    Cadastro realizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    {{ erro }}
                </div>
            </div>
        </div>     

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: </label>
                    <input type="text" class="form-control" [(ngModel)]="pessoa.nome" name="nome"/>
                </div>
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    <label>Telefone: *</label>
                    <input type="text" class="form-control" [(ngModel)]="pessoa.fone" name="fone" (input)="formatarTelefone()" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>E-mail: </label>
                    <input type="text" class="form-control" [(ngModel)]="pessoa.email" name="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de Nascimento: </label>
                    <input type="date" class="form-control" [(ngModel)]="pessoa.dataNascimento" name="dataNascimento"/>
                </div>
            </div>                
            <div class="col-md-6">
                <div class="form-group">
                    <label>Endereço: </label>
                    <input type="text" class="form-control" [(ngModel)]="pessoa.logradouro" name="logradouro"/>
                </div>
            </div>               
            <div class="col-md-6">
                <div class="form-group">
                    <label for="membro">Membro?</label>
                    <select class="form-control" [(ngModel)]="pessoa.membro" name="membro" id="membro">
                        <option [ngValue]="true">Sim</option>
                        <option [ngValue]="false">Não</option>
                    </select>
                </div>
            </div>               
              <div class="col-md-12" *ngIf="pessoa.membro === true">
                <div class="form-group">
                    <label>Data em que se tornou membro:</label>
                    <input type="date" class="form-control" [(ngModel)]="pessoa.dataInicioMembresia" name="dataInicioMembresia"/>
                </div>
            </div>                   
        </div>

        <div class="row-buttons">
            <button type="submit" class="btn btn-success" *ngIf="!pessoa.id">
                <i class="fa fa-save"></i> Salvar
            </button>
            <button type="submit" class="btn btn-primary" *ngIf="pessoa.id">
                <i class="fa fa-sync-alt"></i> Atualizar
            </button>                
            <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                <i class="fa fa-arrow-alt-circle-left"></i> Voltar
            </button>
        </div>           
    </form>
</div>
